p{
    font-family: 'Roboto', sans-serif;
}
.header{
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 8%;
}

.sub-header{
    font-size: 16px;
}

.img-section {
    display: inline-block;
 
}

images{
    text-align:center;
}

.img-section{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-around;
    height: 100px; 
}

.link{
    font-size: 14px;
}


.section-center{
    margin-left: 25%;
    margin-right: 25%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table, th, td, p{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
}
